---
// component imports
import Seo from "@components/Seo"

const { title, description, image, frontmatter, robots } = Astro.props
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
</head>
