---
import { Image } from "astro:assets"

// utils import
import { formatDate, slugify, firstWords } from "../utils/textConverter"

const {
    data: { title, description, pubDate, image, category },
    slug,
} = Astro.props
---

<article class="grid grid-rows-[288px_auto] group">
    <div class="relative hover:scale-[102%] transition-all duration-200">
        <Image
            src={image}
            alt={title}
            width="800"
            height="400"
            format="webp"
            quality={80}
            class="object-cover h-72 min-w-full rounded-md"
        />
        <a href={"/posts/" + slug}>
            <div
                class="absolute inset-0 rounded-md flex items-end w-full bg-gradient-to-t from-gray-900"
            >
                <p class="text-slate-300 text-xl font-semibold p-2">
                    {title}
                </p>
            </div>
        </a>
    </div>
    <div class="flex justify-between flex-col">
        <a
            href={"/posts/" + slug}
            class="text-sm italic pt-2 pb-1"
            >{description}</a
        >

        <div class="flex items-center text-xs">
            📅
            {formatDate(pubDate)}
            <a
                href={`/category/${slugify(category)}/`}
                class="ml-auto px-2 rounded-xl bg-sky-500/50 hover:bg-sky-500 font-mono">{category}</a
            >
        </div>
    </div>
</article>
