---
import Base from "./Base.astro"
import TableOfContents from "@components/TableOfContents"
import TitlePost from "@components/TitlePost"
import { Image } from "astro:assets"
import { formatDate, slugify } from "../utils/textConverter"
const { frontmatter, headings } = Astro.props
const { title, description, pubDate, category, image, author } = frontmatter
---

<Base
    {title}
    {description}
    image={frontmatter.image}
    {frontmatter}
    robots={frontmatter.robots}
>
    <article class="md:py-4 px-4 max-w-none">
        <div class="flex flex-col items-center justify-center gap-2">
            <TitlePost title={frontmatter.title} />
            <div class="flex text-base-content/50 items-center">
                Published on {formatDate(pubDate)}
            </div>
            <a href={`/category/${slugify(category)}/`} class="btn btn-outline"
                >{category}</a
            >
            <p class="md:text-base lg:text-xl font-light">
                {frontmatter.description}
            </p>
        </div>
        <div>
            <Image
                src={image}
                height="2000"
                width="1000"
                alt={frontmatter.title}
                class="object-cover rounded-md w-full max-h-[500px] my-8"
            />
        </div>
        <div>
            <div
                class="grid grid-cols-1 md:pl-2 md:grid-cols-[20%_auto] gap-4 mt-8"
            >
                <aside class="md:flex flex-col gap-8 hidden">
                    <div
                        class="sticky top-24 self-start hidden md:block transition-all duration-200"
                    >
                        <TableOfContents headings={headings} />
                    </div>
                </aside>
                <div class="max-w-full w-full">
                    <div
                        class="prose prose-sm md:prose-base lg:prose-lg prose-pre:px-0 prose-pre:drop-shadow prose-pre:my-3 prose-code:font-light prose-code:text-info
                        mb-12 min-w-full"
                    >
                        <slot />
                    </div>
                </div>
            </div>
        </div>
    </article>
</Base>
